# PyCity Schools Analysis

- Your analysis here
  
---

In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

## District Summary

In [5]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].nunique()
school_count

15

In [6]:
# Calculate the total number of students
student_count = student_data["Student ID"].nunique()
student_count

39170

In [7]:
# Calculate the total budget
budget_list = list(set(school_data_complete["budget"]))
total_budget = np.sum(budget_list)
total_budget

24649428

In [8]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
summary_list = [[school_count, student_count, total_budget, average_math_score, 
                average_reading_score, passing_math_percentage, passing_reading_percentage,
               overall_passing_rate]]
summary_columns = ["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                "Average Reading Score", "% Passing Reading", "% Passing Math", 
                "% Passing Overall"]
district_summary = pd.DataFrame(summary_list, columns = summary_columns)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.0f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.1f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.1f}%".format)
district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map("{:.1f}%".format)


# Display the DataFrame
# display(district_summary)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Passing Overall
0,15,"39,170","$24,649,428",79.0%,81.9%,75.0%,85.8%,65.2%

## School Summary

In [15]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [60]:
# Create a one column dataframe of the schools
# schools = pd.DataFrame(list(school_data_complete["school_name"].unique())
schools = pd.DataFrame({"school_name":school_data_complete["school_name"].unique()} )
schools = schools.sort_values(by="school_name")
schools

              school_name
7      Bailey High School
6     Cabrera High School
1    Figueroa High School
13       Ford High School
4     Griffin High School
3   Hernandez High School
8      Holden High School
0       Huang High School
12    Johnson High School
9        Pena High School
11  Rodriguez High School
2     Shelton High School
14     Thomas High School
5      Wilson High School
10     Wright High School

In [87]:
# Use the code provided to select all of the school types
school_types_dict = {"school_name": [], "type": []}
old_school = ""
for i in school_data_complete.index:
    school_name = school_data_complete['school_name'][i]
    if school_name != old_school: 
        school_types_dict["school_name"].append(school_data_complete["school_name"][i])
        school_types_dict["type"].append(school_data_complete["type"][i])
        old_school = school_name

school_types = pd.DataFrame(data = school_types_dict)  
school_types = school_types.sort_values(by = ["school_name"])

school_types = school_types["type"]

school_types

7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object

In [ ]:
schools
school_types
per_school_counts

In [25]:
# Calculate the total student count per school
# per_school_counts = school_data_complete[["type", "Student ID"]].groupby(["type"]).count()
per_school_counts = school_data_complete.groupby(["school_name"]).count()

per_school_counts = per_school_counts["Student ID"]

per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [86]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete[["school_name", "budget"]].groupby(["school_name"]).mean()
per_school_budget["budget per capita"] = per_school_budget["budget"]/per_school_counts

per_school_budget_capita = per_school_budget["budget per capita"]
per_school_budget = per_school_budget["budget"]

display(per_school_budget)
display(per_school_budget_capita)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: budget per capita, dtype: float64

Index(['budget', 'budget per capita'], dtype='object')

In [ ]:
school_data_complete.columns

In [34]:
# Calculate the average test scores per school
per_school_math = school_data_complete[["school_name", "math_score"]].groupby(["school_name"]).mean()
per_school_reading = school_data_complete[["school_name", "reading_score"]].groupby(["school_name"]).mean()

display(per_school_math)
display(per_school_reading)

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [47]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()


display(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [43]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

display(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [44]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

display(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [83]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

display(per_school_passing_math)
display(per_school_passing_reading)
display(overall_passing_rate)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [84]:
# per_school_passing_math = list(per_school_passing_math)
# per_school_passing_reading = list(per_school_passing_reading)
# overall_passing_rate = list(overall_passing_rate)
summary_list = np.array([per_school_passing_math, per_school_passing_reading, 
                         overall_passing_rate])
summary_list = np.reshape(summary_list, (15, 3))
df = pd.DataFrame(summary_list,
                 columns = ["math", "reading", "overall"])
df

         math    reading    overall
0   66.680064  94.133477  65.988471
1   68.309602  93.392371  66.752967
2   92.505855  65.683922  66.057551
3   94.594595  66.366592  93.867121
4   93.272171  93.867718  93.333333
5   81.933280  97.039828  80.739234
6   79.299014  97.138965  80.862999
7   96.252927  81.316421  81.222432
8   95.945946  80.220055  95.854628
9   97.308869  96.539641  96.611111
10  54.642283  91.334769  53.204476
11  54.289887  90.599455  53.527508
12  89.227166  53.513884  53.539172
13  90.540541  52.988247  89.892107
14  90.948012  90.582567  90.333333

In [89]:
summary_list = np.array([schools, school_types, per_school_counts, per_school_budget, 
                         per_school_budget_capita, per_school_math, per_school_reading, 
                         per_school_passing_math, per_school_passing_reading, overall_passing_rate]
                       )
summary_list = np.reshape(summary_list, (15, 10))

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (10, 15) + inhomogeneous part.

In [112]:
np.array(schools)

array([['Bailey High School'],
       ['Cabrera High School'],
       ['Figueroa High School'],
       ['Ford High School'],
       ['Griffin High School'],
       ['Hernandez High School'],
       ['Holden High School'],
       ['Huang High School'],
       ['Johnson High School'],
       ['Pena High School'],
       ['Rodriguez High School'],
       ['Shelton High School'],
       ['Thomas High School'],
       ['Wilson High School'],
       ['Wright High School']], dtype=object)

In [114]:
np.array(per_school_passing_math)

array([66.68006431, 94.13347686, 65.98847067, 68.30960204, 93.39237057,
       66.75296656, 92.5058548 , 65.68392184, 66.05755093, 94.59459459,
       66.36659165, 93.86712095, 93.27217125, 93.86771792, 93.33333333])

In [ ]:
schools, school_types, per_school_counts
display(per_school_budget)
display(per_school_budget_capita)
display(per_school_math)
display(per_school_reading)
display(per_school_passing_math)
display(per_school_passing_reading)
display(overall_passing_rate)

summary_list = np.array([schools, school_types, per_school_counts, per_school_budget, 
                         per_school_budget_capita, per_school_math, per_school_reading, 
                         per_school_passing_math, per_school_passing_reading, overall_passing_rate]
                       )
summary_list = np.reshape(summary_list, (15, 10))
summary_columns = ["School Name", "School Type", "Total School Budget", "Student Count", 
                   "Per Student Budget", "Math Score(Avg)", "Reading Score(Avg)", 
                   "Percent Passing Math", "Percent Passing Reading", "Percent Passing Overall", 
                 ]
district_summary = pd.DataFrame(summary_list, columns = summary_columns)

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary