# PyCity Schools Analysis

- Your analysis here
  
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

## District Summary

In [6]:
# Calculate the total number of students
student_count = student_data["Student ID"].nunique()
student_count

39170

In [7]:
# Calculate the total budget
budget_list = list(set(school_data_complete["budget"]))
total_budget = np.sum(budget_list)
total_budget

24649428

In [8]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
summary_list = [[school_count, student_count, total_budget, average_math_score, 
                average_reading_score, passing_math_percentage, passing_reading_percentage,
               overall_passing_rate]]
summary_columns = ["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                "Average Reading Score", "% Passing Reading", "% Passing Math", 
                "% Passing Overall"]
district_summary = pd.DataFrame(summary_list, columns = summary_columns)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.0f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.1f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.1f}%".format)
district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map("{:.1f}%".format)


# Display the DataFrame
# display(district_summary)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Passing Overall
0,15,"39,170","$24,649,428",79.0%,81.9%,75.0%,85.8%,65.2%

## School Summary

In [14]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [17]:
# Create a one column dataframe of the schools
# schools = pd.DataFrame(list(school_data_complete["school_name"].unique())
schools = pd.DataFrame({"school_name": school_data_complete["school_name"].unique()} )
schools = schools.sort_values(by="school_name")
schools = list(schools["school_name"])
schools

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [19]:
# Use the code provided to select all of the school types
school_types_dict = {"school_name": [], "type": []}
old_school = ""
for i in school_data_complete.index:
    school_name = school_data_complete['school_name'][i]
    if school_name != old_school: 
        school_types_dict["school_name"].append(school_data_complete["school_name"][i])
        school_types_dict["type"].append(school_data_complete["type"][i])
        old_school = school_name

school_types = pd.DataFrame(data = school_types_dict)  
school_types = school_types.sort_values(by = ["school_name"])

school_types = list(school_types["type"])

school_types

['District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'Charter']

In [21]:
np.array(schools)

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype='<U21')

In [23]:
# Calculate the total student count per school
# per_school_counts = school_data_complete[["type", "Student ID"]].groupby(["type"]).count()
per_school_counts = school_data_complete.groupby(["school_name"]).count()

per_school_counts = list(per_school_counts["Student ID"])

per_school_counts

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [25]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete[["school_name", "budget"]].groupby(["school_name"]).mean()
per_school_budget["budget per capita"] = per_school_budget["budget"]/per_school_counts

per_school_budget_capita = list(per_school_budget["budget per capita"])
per_school_budget = list(per_school_budget["budget"])

display(per_school_budget)
display(per_school_budget_capita)

[3124928.0,
 1081356.0,
 1884411.0,
 1763916.0,
 917500.0,
 3022020.0,
 248087.0,
 1910635.0,
 3094650.0,
 585858.0,
 2547363.0,
 1056600.0,
 1043130.0,
 1319574.0,
 1049400.0]

[628.0,
 582.0,
 639.0,
 644.0,
 625.0,
 652.0,
 581.0,
 655.0,
 650.0,
 609.0,
 637.0,
 600.0,
 638.0,
 578.0,
 583.0]

In [ ]:
school_data_complete.columns

In [28]:
# Calculate the average test scores per school
per_school_math = school_data_complete[["school_name", "math_score"]].groupby(["school_name"]).mean()
per_school_reading = school_data_complete[["school_name", "reading_score"]].groupby(["school_name"]).mean()

per_school_math_list = list(per_school_math["math_score"])
per_school_reading_list = list(per_school_reading["reading_score"])

display(per_school_math_list)
display(per_school_reading_list)

[77.04843247588424,
 83.06189451022605,
 76.71176670057646,
 77.10259218692954,
 83.35149863760218,
 77.28975188781014,
 83.80327868852459,
 76.62941378128214,
 77.07246376811594,
 83.83991683991684,
 76.84271067766942,
 83.3594548551959,
 83.4183486238532,
 83.2742006132282,
 83.68222222222222]

[81.03396302250803,
 83.97578040904197,
 81.15801966768396,
 80.74625775830594,
 83.816757493188,
 80.9344120819849,
 83.81498829039812,
 81.18272197463148,
 80.96639361478681,
 84.04469854469855,
 80.74468617154288,
 83.72572402044293,
 83.84892966360856,
 83.98948751642575,
 83.955]

In [31]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

school_students_passing_math_list = list(school_students_passing_math)

display(school_students_passing_math_list)

[3318,
 1749,
 1946,
 1871,
 1371,
 3094,
 395,
 1916,
 3145,
 910,
 2654,
 1653,
 1525,
 2143,
 1680]

In [34]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

display(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [36]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading_list = list(school_students_passing_math_and_reading)

display(school_students_passing_math_and_reading_list)

[2719,
 1697,
 1569,
 1487,
 1330,
 2481,
 381,
 1561,
 2549,
 871,
 2119,
 1583,
 1487,
 2068,
 1626]

In [38]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

per_school_passing_math_list = list(per_school_passing_math)
per_school_passing_reading_list = list(per_school_passing_reading)
overall_passing_rate_list = list(overall_passing_rate)

display(per_school_passing_math_list)
display(per_school_passing_reading_list)
display(overall_passing_rate_list)

[66.68006430868168,
 94.1334768568353,
 65.98847066802306,
 68.3096020445418,
 93.39237057220708,
 66.7529665587918,
 92.50585480093677,
 65.68392183750429,
 66.0575509346776,
 94.5945945945946,
 66.36659164791197,
 93.8671209540034,
 93.27217125382263,
 93.8677179150241,
 93.33333333333333]

[81.93327974276528,
 97.03982777179763,
 80.73923363852154,
 79.29901423877328,
 97.13896457765668,
 80.86299892125135,
 96.25292740046838,
 81.31642098045938,
 81.2224322621298,
 95.94594594594594,
 80.22005501375344,
 95.85462805224304,
 97.30886850152906,
 96.53964082347788,
 96.61111111111111]

[54.64228295819936,
 91.33476856835307,
 53.20447609359105,
 54.289886820007304,
 90.59945504087193,
 53.52750809061489,
 89.22716627634661,
 53.51388412752828,
 53.53917244276413,
 90.54054054054053,
 52.988247061765435,
 89.89210675752413,
 90.94801223241589,
 90.58256679807272,
 90.33333333333333]

In [45]:
# per_school_passing_math = list(per_school_passing_math)
# per_school_passing_reading = list(per_school_passing_reading)
# overall_passing_rate = list(overall_passing_rate)
summary_list = np.array([per_school_passing_math, per_school_passing_reading, 
                         overall_passing_rate])
summary_list = np.reshape(summary_list, (15, 3))
df = pd.DataFrame(summary_list,
                 columns = ["math", "reading", "overall"])
df

         math    reading    overall
0   66.680064  94.133477  65.988471
1   68.309602  93.392371  66.752967
2   92.505855  65.683922  66.057551
3   94.594595  66.366592  93.867121
4   93.272171  93.867718  93.333333
5   81.933280  97.039828  80.739234
6   79.299014  97.138965  80.862999
7   96.252927  81.316421  81.222432
8   95.945946  80.220055  95.854628
9   97.308869  96.539641  96.611111
10  54.642283  91.334769  53.204476
11  54.289887  90.599455  53.527508
12  89.227166  53.513884  53.539172
13  90.540541  52.988247  89.892107
14  90.948012  90.582567  90.333333

In [ ]:
district_summary_dict = {"School Name": [], "School Type":[], "Total School Budget": [], 
                         "Student Count": [], "Per Student Budget": [], "Math Score(Avg)": [], 
                         "Reading Score(Avg)": [], "Percent Passing Math": [], 
                         "Percent Passing Reading": [], "Percent Passing Overall": []}
for i in range(15):
    district_summary_dict["School Name"][i]
    district_summary_dict["School Type"][i]
    district_summary_dict["Total School Budget"][i]
    district_summary_dict["Student Count"][i]
    district_summary_dict["Per Student Budget"][i]
    district_summary_dict["Math Score(Avg)"][i]
    district_summary_dict["Reading Score(Avg)"][i]
    district_summary_dict["School Name"][i]
    district_summary_dict["School Name"][i]
    district_summary_dict["School Name"][i]

In [44]:
summary_list = np.array([schools, school_types, per_school_counts, per_school_budget, 
                         per_school_budget_capita, per_school_math_list, per_school_reading_list, 
                         per_school_passing_math, per_school_passing_reading, overall_passing_rate]
                       )
summary_list = np.reshape(summary_list, (15, 10))
summary_columns = ["School Name", "School Type", "Total School Budget", "Student Count", 
                   "Per Student Budget", "Math Score(Avg)", "Reading Score(Avg)", 
                   "Percent Passing Math", "Percent Passing Reading", "Percent Passing Overall", 
                 ]
district_summary = pd.DataFrame(summary_list, columns = summary_columns)

#summary_list

district_summary

,School Name,School Type,Total School Budget,Student Count,Per Student Budget,Math Score(Avg),Reading Score(Avg),Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School
1,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School,District,Charter,District,District,Charter
2,District,Charter,District,District,Charter,District,Charter,Charter,Charter,Charter
3,4976,1858,2949,2739,1468,4635,427,2917,4761,962
4,3999,1761,1635,2283,1800,3124928.0,1081356.0,1884411.0,1763916.0,917500.0
5,3022020.0,248087.0,1910635.0,3094650.0,585858.0,2547363.0,1056600.0,1043130.0,1319574.0,1049400.0
6,628.0,582.0,639.0,644.0,625.0,652.0,581.0,655.0,650.0,609.0
7,637.0,600.0,638.0,578.0,583.0,77.04843247588424,83.06189451022605,76.71176670057646,77.10259218692954,83.35149863760218
8,77.28975188781014,83.80327868852459,76.62941378128214,77.07246376811594,83.83991683991684,76.84271067766942,83.3594548551959,83.4183486238532,83.2742006132282,83.68222222222222
9,81.03396302250803,83.97578040904197,81.15801966768396,80.74625775830594,83.816757493188,80.9344120819849,83.81498829039812,81.18272197463148,80.96639361478681,84.04469854469855
10,80.74468617154288,83.72572402044293,83.84892966360856,83.98948751642575,83.955,66.68006430868168,94.1334768568353,65.98847066802306,68.3096020445418,93.39237057220708
11,66.7529665587918,92.50585480093677,65.68392183750429,66.0575509346776,94.5945945945946,66.36659164791197,93.8671209540034,93.27217125382263,93.8677179150241,93.33333333333333
12,81.93327974276528,97.03982777179763,80.73923363852154,79.29901423877328,97.13896457765668,80.86299892125135,96.25292740046838,81.31642098045938,81.2224322621298,95.94594594594594
13,80.22005501375344,95.85462805224304,97.30886850152906,96.53964082347788,96.61111111111111,54.64228295819936,91.33476856835307,53.20447609359105,54.289886820007304,90.59945504087193
14,53.52750809061489,89.22716627634661,53.51388412752828,53.53917244276413,90.54054054054053,52.988247061765435,89.89210675752413,90.94801223241589,90.58256679807272,90.33333333333333

In [ ]:
np.array(schools)

In [ ]:
np.array(per_school_passing_math)

In [39]:
# schools, school_types, per_school_counts
# display(per_school_budget)
# display(per_school_budget_capita)
# display(per_school_math)
# display(per_school_reading)
# display(per_school_passing_math)
# display(per_school_passing_reading)
# display(overall_passing_rate)

summary_list = np.array([schools, school_types, per_school_counts, per_school_budget, 
                         per_school_budget_capita, per_school_math, per_school_reading, 
                         per_school_passing_math, per_school_passing_reading, overall_passing_rate]
                       )
summary_list = np.reshape(summary_list, (15, 10))
summary_columns = ["School Name", "School Type", "Total School Budget", "Student Count", 
                   "Per Student Budget", "Math Score(Avg)", "Reading Score(Avg)", 
                   "Percent Passing Math", "Percent Passing Reading", "Percent Passing Overall", 
                 ]
district_summary = pd.DataFrame(summary_list, columns = summary_columns)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (10, 15) + inhomogeneous part.

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary