# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

## District Summary

In [3]:
# Calculate the number of unique schools
school_count = len(set(school_data_complete["school_name"]))
school_count

15

In [4]:
# Calculate the total number of students
student_count = student_data["Student ID"].nunique()
student_count

39170

In [5]:
# Calculate the total budget
budget_list = list(set(school_data_complete["budget"]))
total_budget = np.sum(budget_list)
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
summary_list = [[school_count, student_count, total_budget, average_math_score, 
                average_reading_score, passing_math_percentage, passing_reading_percentage,
               overall_passing_rate]]
summary_columns = ["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                "Average Reading Score", "% Passing Reading", "% Passing Math", 
                "% Passing Overall"]
district_summary = pd.DataFrame(summary_list, columns = summary_columns)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.0f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.1f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.1f}%".format)
district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map("{:.1f}%".format)


# Display the DataFrame
# display(district_summary)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Passing Overall
0,15,"39,170","$24,649,428",79.0%,81.9%,75.0%,85.8%,65.2%

## School Summary

In [12]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [26]:
# Create a one column dataframe of the schools

# schools = pd.DataFrame(list(school_data_complete["school_name"].unique())
schools = pd.DataFrame({"school_name": school_data_complete["school_name"].unique()} )
schools = schools.sort_values(by="school_name")
schools = list(schools["school_name"])
schools

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [14]:
# Use the code provided to select all of the school types
school_types_dict = {"school_name": [], "type": []}
old_school = ""
for i in school_data_complete.index:
    school_name = school_data_complete['school_name'][i]
    if school_name != old_school: 
        school_types_dict["school_name"].append(school_data_complete["school_name"][i])
        school_types_dict["type"].append(school_data_complete["type"][i])
        old_school = school_name

school_types = pd.DataFrame(data = school_types_dict)  
school_types = school_types.sort_values(by = ["school_name"])

school_types = list(school_types["type"])

school_types

['District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'Charter']

In [15]:
np.array(schools)

array([['Bailey High School'],
       ['Cabrera High School'],
       ['Figueroa High School'],
       ['Ford High School'],
       ['Griffin High School'],
       ['Hernandez High School'],
       ['Holden High School'],
       ['Huang High School'],
       ['Johnson High School'],
       ['Pena High School'],
       ['Rodriguez High School'],
       ['Shelton High School'],
       ['Thomas High School'],
       ['Wilson High School'],
       ['Wright High School']], dtype=object)

In [16]:
# Calculate the total student count per school
# per_school_counts = school_data_complete[["type", "Student ID"]].groupby(["type"]).count()
per_school_counts = school_data_complete.groupby(["school_name"]).count()

per_school_counts = list(per_school_counts["Student ID"])

per_school_counts

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [17]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete[["school_name", "budget"]].groupby(["school_name"]).mean()
per_school_budget["budget per capita"] = per_school_budget["budget"]/per_school_counts

per_school_budget_capita = list(per_school_budget["budget per capita"])
per_school_budget = list(per_school_budget["budget"])

display(per_school_budget)
display(per_school_budget_capita)

[3124928.0,
 1081356.0,
 1884411.0,
 1763916.0,
 917500.0,
 3022020.0,
 248087.0,
 1910635.0,
 3094650.0,
 585858.0,
 2547363.0,
 1056600.0,
 1043130.0,
 1319574.0,
 1049400.0]

[628.0,
 582.0,
 639.0,
 644.0,
 625.0,
 652.0,
 581.0,
 655.0,
 650.0,
 609.0,
 637.0,
 600.0,
 638.0,
 578.0,
 583.0]

In [18]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [19]:
# Calculate the average test scores per school
per_school_math = school_data_complete[["school_name", "math_score"]].groupby(["school_name"]).mean()
per_school_reading = school_data_complete[["school_name", "reading_score"]].groupby(["school_name"]).mean()

per_school_math_list = list(per_school_math["math_score"])
per_school_reading_list = list(per_school_reading["reading_score"])

display(per_school_math_list)
display(per_school_reading_list)

[77.04843247588424,
 83.06189451022605,
 76.71176670057646,
 77.10259218692954,
 83.35149863760218,
 77.28975188781014,
 83.80327868852459,
 76.62941378128214,
 77.07246376811594,
 83.83991683991684,
 76.84271067766942,
 83.3594548551959,
 83.4183486238532,
 83.2742006132282,
 83.68222222222222]

[81.03396302250803,
 83.97578040904197,
 81.15801966768396,
 80.74625775830594,
 83.816757493188,
 80.9344120819849,
 83.81498829039812,
 81.18272197463148,
 80.96639361478681,
 84.04469854469855,
 80.74468617154288,
 83.72572402044293,
 83.84892966360856,
 83.98948751642575,
 83.955]

In [20]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

school_students_passing_math_list = list(school_students_passing_math)

display(school_students_passing_math_list)

[3318,
 1749,
 1946,
 1871,
 1371,
 3094,
 395,
 1916,
 3145,
 910,
 2654,
 1653,
 1525,
 2143,
 1680]

In [21]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

# display(school_students_passing_reading)

In [22]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading_list = list(school_students_passing_math_and_reading)

# display(school_students_passing_math_and_reading_list)

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

# per_school_passing_math_list = list(per_school_passing_math)
# per_school_passing_reading_list = list(per_school_passing_reading)
# overall_passing_rate_list = list(overall_passing_rate)

# display(per_school_passing_math_list)
# display(per_school_passing_reading_list)
# display(overall_passing_rate_list)

In [ ]:
# per_school_passing_math = list(per_school_passing_math)
# per_school_passing_reading = list(per_school_passing_reading)
# overall_passing_rate = list(overall_passing_rate)
# summary_list = np.array([per_school_passing_math, per_school_passing_reading, 
#                          overall_passing_rate])
# summary_list = np.reshape(summary_list, (15, 3))
# df = pd.DataFrame(summary_list,
#                  columns = ["math", "reading", "overall"])
# df

In [30]:
# Create a dictionary to summarize the school level data calculated above
per_school_summary_dict = {"School Name": [], "School Type":[], "Student Count": [],
                         "Total School Budget": [], "Per Student Budget": [], 
                         "Math Score(Avg)": [], "Reading Score(Avg)": [], "Percent Passing Math": [], 
                         "Percent Passing Reading": [], "Percent Passing Overall": []}

for i in range(len(schools)):
    per_school_summary_dict["School Name"].append(schools[i])
    per_school_summary_dict["School Type"].append(school_types[i])
    per_school_summary_dict["Student Count"].append(per_school_counts[i])
    per_school_summary_dict["Total School Budget"].append(per_school_budget[i])
    per_school_summary_dict["Per Student Budget"].append(per_school_budget_capita[i])
    per_school_summary_dict["Math Score(Avg)"].append(per_school_math_list[i])
    per_school_summary_dict["Reading Score(Avg)"].append(per_school_reading_list[i])
    per_school_summary_dict["Percent Passing Math"].append(per_school_passing_math[i])
    per_school_summary_dict["Percent Passing Reading"].append(per_school_passing_reading[i])
    per_school_summary_dict["Percent Passing Overall"].append(overall_passing_rate[i])

,School Name,School Type,Student Count,Total School Budget,Per Student Budget,Math Score(Avg),Reading Score(Avg),Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [31]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(per_school_summary_dict)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Math Score(Avg)"] = per_school_summary["Math Score(Avg)"].map("{:.2f}%".format)
per_school_summary["Reading Score(Avg)"] = per_school_summary["Reading Score(Avg)"].map("{:.2f}%".format)
per_school_summary["Percent Passing Math"] = per_school_summary["Percent Passing Math"].map("{:.2f}%".format)
per_school_summary["Percent Passing Reading"] = per_school_summary["Percent Passing Reading"].map("{:.2f}%".format)
per_school_summary["Percent Passing Overall"] = per_school_summary["Percent Passing Overall"].map("{:.2f}%".format)

# Display the DataFrame
per_school_summary

,School Name,School Type,Student Count,Total School Budget,Per Student Budget,Math Score(Avg),Reading Score(Avg),Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
3,Ford High School,District,2739,"$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [33]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["Percent Passing Overall"], ascending = False)
top_schools.head(5)

,School Name,School Type,Student Count,Total School Budget,Per Student Budget,Math Score(Avg),Reading Score(Avg),Percent Passing Math,Percent Passing Reading,Percent Passing Overall
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [34]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["Percent Passing Overall"])
bottom_schools.head(5)

,School Name,School Type,Student Count,Total School Budget,Per Student Budget,Math Score(Avg),Reading Score(Avg),Percent Passing Math,Percent Passing Reading,Percent Passing Overall
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%

## Math Scores by Grade

In [66]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
grade_list = [ninth_grade_math_scores, tenth_grader_math_scores, eleventh_grader_math_scores,
             twelfth_grader_math_scores]
for i in range(1,len(grade_list)):
        ninth_grade_math_scores = pd.concat([ninth_grade_math_scores, grade_list[i]], axis = 1)

math_scores_by_grade = ninth_grade_math_scores

# Minor data wrangling
math_scores_by_grade.columns = ["9th Grade", "10th Grade", "11th Grade", "12th Grade"]
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

In [65]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
grade_list = [ninth_grade_reading_scores, tenth_grader_reading_scores, eleventh_grader_reading_scores,
             twelfth_grader_reading_scores]
for i in range(1,len(grade_list)):
        ninth_grade_reading_scores = pd.concat([ninth_grade_reading_scores, grade_list[i]], axis = 1)
        
reading_scores_by_grade = ninth_grade_reading_scores

# Minor data wrangling
reading_scores_by_grade.columns = ["9th Grade", "10th Grade", "11th Grade", "12th Grade"]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

In [68]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [88]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [89]:
"""
Cast the "Per Student Budget" column as a float and strip out the "$" so that value comparisons can be
made for binning. Only perform this once.
"""
school_spending_df["Per Student Budget"]= school_spending_df["Per Student Budget"].str[1:].astype(float)

In [91]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'], 
                                                             spending_bins, labels = labels, 
                                                             include_lowest = True)

school_spending_df.head()

,School Name,School Type,Student Count,Total School Budget,Per Student Budget,Math Score(Avg),Reading Score(Avg),Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Spending Ranges (Per Student)
0,Bailey High School,District,4976,"$3,124,928.00",628.0,77.05%,81.03%,66.68%,81.93%,54.64%,$585-630
1,Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06%,83.98%,94.13%,97.04%,91.33%,<$585
2,Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71%,81.16%,65.99%,80.74%,53.20%,$630-645
3,Ford High School,District,2739,"$1,763,916.00",644.0,77.10%,80.75%,68.31%,79.30%,54.29%,$630-645
4,Griffin High School,Charter,1468,"$917,500.00",625.0,83.35%,83.82%,93.39%,97.14%,90.60%,$585-630

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary